* {
    margin: 0;
    padding: 0;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.80vmin;
}

html, body {
    height: 100%;
}

.header {
    height: 30%;
    background-image: linear-gradient(to bottom, rgb(128, 174, 206), rgb(248, 249, 250));
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.main-content {
    min-height: 70%;
    background-image: linear-gradient(to bottom, rgb(248, 249, 250), rgb(219, 220, 221))
}

.main-header {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
}

.option {
    width: 50%;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #406c8e;
    color: white;
}

.logo {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}


.logo-image {
    width: 50%;
    border-radius: 0%;
}

.logo-letters {
    width: 15%;
    font-size: 10vmin;
    color: #f48024;
    text-shadow: 4px 4px #bcbbbb;
    text-align: center;
    opacity: .9;
}

.user-inf {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile-photo {
    height: 40%;
    width: 20%;
    margin-top: 5%;
}

.user-name {
    font-size: 2vmin;
}

.log-out {
    padding: 1%;
    width: 40%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #406c8e;
    color: white;
}

.search-bar {
    height: 30%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-button {
    height: 40%;
    margin-right: 1%;
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #406c8e;
    color: white;
    font-size: 1.75vmin;
}

.search-input {
    height: 40%;
    width: 90%;
    text-indent: 5px;
}

.users {
    width: 80%;
    margin: 0 auto;
}

.search-result {
    text-align: center;
    font-size: 3.5vmin;
    padding: 2% 0%;
}

.user-searchbar {
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 1% 0%;
    margin: 0 auto;
}

.user-searchbar .input {
    text-indent: 5px;
    width: 20%;
    padding: 0.5% 0;
}

.user-searchbar .button {
    width: 10%;
    margin-left: 2%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #406c8e;
    color: white;
    padding: 0.5% 0;
}

.users-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1% 0;
    background-color: #fffafa;
    border: 1px solid grey;
    border-radius: 5px;
}

.user .image {
    width: 35%;
    height: 35%;
}

.user .name {
    padding: 5% 20%;
    font-size: 2vmin;
    font-weight: 600;
    color: black
}

.user .reputation {
    padding: 1% 20%;
    font-size: 2vmin;
    font-weight: 600;
    color: #406c8e;
}

.user .tag {
    border-radius: 5px;
    margin: 2% 0;
    padding: 3% 3%;
    color: rgb(209, 138, 6);
    background-color: rgb(252, 232, 196);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

img {
    border-radius: 50%;
    object-fit: cover;
}